:host {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  mat-drawer {
    width: 260px;
  }
  mat-drawer-container {
    height: 100%;
  }
  
  ::ng-deep .mat-drawer-inner-container {
  background: mintcream;
  }
  
  mat-drawer {
    background: #0f172a;
  }
  